<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录 - 简书</title>
    <script src="node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/Pro.css">
</head>
<body>
<div id="logo">
    <img src="img/download.png" alt="">
</div>
    <div id="dhz">
        <div id="tab">
            <a href="Project.html" id="a1">{{message}}</a>
            <b>·</b>
            <a href="Project2.html" id="ss" >{{message2}}</a>
        </div>
        <div id="zhuce">
        <form action="">
        <div id="num">
            <img src="img/user.png" alt="" id="user" >
            <input type="text" placeholder="手机号或邮箱" id="shuru" v-model="username">
        </div>
        <div id="pw">
            <img src="img/lock.png" alt="" id="mima" v-model="password">
            <input type="text" placeholder="密码" id="qu">
        </div>
        <div id="yz">
            <div id="zz">
                    <div id="z3">

                    </div>
            </div>
            <div id="ts">
                <p>{{text}}</p>
            </div>
            <div id="tt">
                <img src="img/you.png" alt="">
            </div>
        </div>
        <div id="rmb">
            <div id="l_me">
                <input type="checkbox"><span>  {{text2}}</span>
            </div>
            <div id="r_me">
                <a href="Project3.html">{{text2}}</a>
            </div>
        </div>
            <div id="btn">
            <input type="submit" value="登录" >
            </div>
        </form>
        <div id="sj">
            <span>
                —————
            </span>
            <span>
               社交账号登录
            </span>
            <span>
                —————
            </span>
        </div>
            <div id="tubiao">
                <ul>
                    <li>
                        <a href="https://api.weibo.com/oauth2/authorize?client_id=1881139527&redirect_uri=http%3A%2F%2Fwww.jianshu.com%2Fusers%2Fauth%2Fweibo%2Fcallback&response_type=code&state=36374b9cdb66d39466020477e6127866c084fbec4c1a4d86">
                            <img src="img/new.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://open.weixin.qq.com/connect/qrconnect?appid=wxe9199d568fe57fdd&redirect_uri=http%3A%2F%2Fwww.jianshu.com%2Fusers%2Fauth%2Fwechat%2Fcallback&response_type=code&scope=snsapi_login&state=7b52c310519b5f33219e74c54541ad8bcae221420f15e8b8#wechat_redirect">
                            <img src="img/weixin.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="https://open.weixin.qq.com/connect/qrconnect?appid=wxe9199d568fe57fdd&redirect_uri=http%3A%2F%2Fwww.jianshu.com%2Fusers%2Fauth%2Fwechat%2Fcallback&response_type=code&scope=snsapi_login&state=7b52c310519b5f33219e74c54541ad8bcae221420f15e8b8#wechat_redirect">
                            <img src="img/qq.png" alt="">
                        </a>
                    </li>
                    <li id="special">
                        <p>其他</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</body>
<script src="jquery-2.2.3.min.js"></script>
<script type="application/javascript">

    $(function () {
            $("#special").on("click",function () {
                $(this).css("background-color","#00820f")
                $("#special p").text("豆").css("font-size","18px").css("color","white")
                $("#special p").css("margin-top","12px").css("margin-left","16px")
            })
    })
    //tab注册 登陆
    new Vue({
        el:'#a1',
        data:{
            message:'登录'
        }
    })
    new Vue({
        el:'#ss',
        data:{
            message2:'注册'
        }
    })
    //text窗口
    new Vue({
        el:'#ts p',
        data:{
            text:'点击按钮进行验证'
        }
    })
    new Vue({
        el:'#l_me span',
        data:{
            text2:'记住我'
        }
    })
    new Vue({
        el:'#r_me a',
        data:{
            text2:'登录遇到问题?'
        }
    })
</script>
</html>