*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(237,237,237) ;

}
/*logo*/
#logo{
    width: 100px;
    height: 46px;
    margin-left: 50px;
    margin-top: 56px;
}
#logo img{
    width: 100px;
    height: 46px;
}

#dhz{
    width: 400px;
    height: 570px;
    border-radius: 4px;
    background-color: #ffffff;
    margin:0 auto;
    margin-top: 3px;
    padding-top: 50px;
    box-shadow: 0 0 8px rgba(223,223,223,1);
}
/*tab键*/
#tab{
    width: 300px;
    height: 39px;
    margin:0 auto;
    border: 1px solid red;
}
/*手机号*/
#num{
    width: 300px;
    height: 50px;
    margin:0 auto;
    margin-top: 50px;
    border-radius: 4px;
    /*background-color: rgb(246,246,246);*/
    position: relative;
}
#shuru{
    width: 250px;
    height: 40px;
    padding:4px 12px 4px 35px;
    font-size: 14px;
    font-weight: bold;
    border-top:1px solid rgb(188,188,188);
    border-left:1px solid rgb(188,188,188);
    border-right:1px solid rgb(188,188,188);
    border-radius: 4px 4px 0  0 ;
    background-color: rgb(246,246,246);
    outline:none;
}
#user,#mima{
    width: 16px;
    height: 17px;
    position: absolute;
    left: 13px;
    top: 18px;
}
#pw{
    width: 300px;
    height: 50px;
    margin:0 auto;
    position: relative;
}
#qu{
     width: 250px;
     height: 40px;
     padding:4px 12px 4px 35px;
     font-size: 14px;
     font-weight: bold;
    border:1px solid rgb(188,188,188);
     border-radius: 0 0 4px 4px;
     background-color: rgb(246,246,246);
    outline:none;
 }
input::-webkit-input-placeholder{
    color: rgb(143,143,143);
}
/*验证*/






