<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>10.23homework</title>
    <link rel="stylesheet" href="ys.css">
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
        <div id="all">
            <div id="nav">
                <div id="btn">
                <div id="lb1" v-on:click="clicked" :class="{active1:isBody1Show}">
                    <img  v-bind:src="nav.btn1"  alt="" >
                </div>
                <div id="lb2"  v-on:click="clicked2" :class="{active1:isBody2Show}">
                    <img v-bind:src="nav.btn2" alt="">
                </div>
                </div>
            </div>
            <div id="body" v-if="isBody1Show">
                <div v-for="value,index in array">
                    <a v-bind:href="value.url">
                <img  v-bind:src="value.image" alt="">
                    </a>
                </div>
            </div>
            <div id="body2" v-if="isBody2Show">
                <div id="fenxiang" v-for="value,index in array">
                    <div id="tu">
                        <img v-bind:src="value.image" alt="">
                    </div>
                    <div id="biaoji">
                        <a v-bind:href="value.url">{{value.title}}</a>
                    </div>
                </div>
            </div>
        </div>
<script>
        new Vue({
            el:'#all',
            methods:{
                clicked:function () {
                   this.isBody2Show=false,
                       this.isBody1Show=true,
                       this.isActive1=true,
                       this.isActive2=false
                },
                clicked2:function () {
                    this.isBody2Show=true,
                     this.isBody1Show=false,
                        this.isActive2=true,
                        this.isActive1=false
                }

            },

            data: {
                nav: {
                    btn1: 'img/grade.png',
                    btn2: 'img/list.png'
                },
                isBody1Show:true,
                isBody2Show:false,
                array : [{
                    "title": "What You Need To Know About CSS Variables",
                    "url": "http://tutorialzine.com/2016/03/what-you-need-to-know-about-css-variables/",
                    "image": 'https://tutorialzine.com/media/2016/03/css-variables.jpg'
                },
                    {
                        "title": "Freebie: 4 Great Looking Pricing Tables",
                        "url": "http://tutorialzine.com/2016/02/freebie-4-great-looking-pricing-tables/",
                        "image": 'https://tutorialzine.com/media/2016/02/great-looking-pricing-tables.jpg'
                    },
                    {
                        "title": "20 Interesting JavaScript and CSS Libraries for February 2016",
                        "url": "http://tutorialzine.com/2016/02/20-interesting-javascript-and-css-libraries-for-february-2016/",
                        "image": 'https://tutorialzine.com/media/2016/02/interesting-resources-february.jpg'
                    },
                    {
                        "title": "Quick Tip: The Easiest Way To Make Responsive Headers",
                        "url": "http://tutorialzine.com/2016/02/quick-tip-easiest-way-to-make-responsive-headers/",
                        "image": 'https://tutorialzine.com/media/2016/02/quick-tip-responsive-headers.png'
                    },
                    {
                        "title": "Learn SQL In 20 Minutes",
                        "url": "http://tutorialzine.com/2016/01/learn-sql-in-20-minutes/",
                        "image": 'https://tutorialzine.com/media/2016/01/learn-sql-20-minutes.png'
                    },
                    {
                        "title": "Creating Your First Desktop App With HTML, JS and Electron",
                        "url": "http://tutorialzine.com/2015/12/creating-your-first-desktop-app-with-html-js-and-electron/",
                        "image": 'https://tutorialzine.com/media/2015/12/creating-your-first-desktop-app-with-electron.png'
                    }]
            }
        })






</script>
</body>

</html>