*{
    margin:0;
    padding: 0;
}
#all{
    width: 600px;
    margin:0 auto;
}
#nav{
    width: 600px;
    height: 60px;
    background-color: rgb(71,132,166);
    overflow: hidden;
}
#lb1,#lb2{
    background-color: rgb(47,108,153);
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
    cursor: pointer;
}
#btn{
    margin-top: 7.5px;
    margin-left: 460px;
}
#lb1 img{
    width: 35px;
    height: 35px;
    margin: 5px;
}
#lb2 img{
     width: 37px;
     height: 39px;
    margin: 4px;
 }
#body div{
    width: 300px;
    display: inline-block;
}
#body img{
    width: 290px;
    height: 230px;
    margin-left: 6px;
    /*width: 100%;*/
    /*height: 100%;*/
    object-fit:cover;
}
/*另一页*/

#body2 img{
     width:200px;
     padding-top: 10px;
 }
#fenxiang{
    border-bottom: 2px solid darkgray;
    width: 570px;
    margin:0 auto;

}
#fenxiang a{
    font-size: 14px;
    text-decoration: none;
    color: black;
}
#biaoji{
    width: 360px;
    display: inline-block;
    margin-bottom: 40px;
    overflow: hidden;
}
#tu{
    display: inline-block;
}
#all .active1{
    background-color: rgb(169,30,123);
}